[submodule "subprojects/dbrew"]
	path = subprojects/dbrew
	url = https://github.com/caps-tum/dbrew.git
[submodule "subprojects/fadec"]
	path = subprojects/fadec
	url = https://github.com/aengelke/fadec.git
[submodule "subprojects/rellume"]
	path = subprojects/rellume
	url = https://github.com/aengelke/rellume.git
[submodule "subprojects/drob"]
	path = subprojects/drob
	url = https://github.com/davidhildenbrand/drob.git
